server {
    listen {{ host_port }};
    server_name {{ ansible_default_ipv4.address }} {{ domain }} www.{{ domain }};

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static {
        alias {{ app_dir }}/src/staticfiles/;
    }
    location /media {
        alias {{ app_dir }}/src/media/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn-{{ project_name }}.sock;
    }
}
